# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Base de datos local
data/
*.db

# Frontend node_modules y build
node_modules/
dist/

# Git y CI
.git/
.github/
.gitignore

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db
.DS_Store
